<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" href="css/deli-very.css">
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="/vue/vue.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="./js/js_script.js" defer></script>
    <script type="text/javascript" src="./js/menu.js" defer></script>
    <script src="./js/vue_script.js" defer></script>

    <title>Your Burger</title>
    <meta charset="utf-8"/>
</head>
<body>
    <main>
        <div class="welcome">
            <h1 id="h1">Welcome to Burger Heaven Online</h1>
            <img id="bar" src="./img/bar.jpg" alt="Span">
        </div>
        <section id="black_background">
            <h2>Select burger</h2>
            <p>Here you execute the burger selection</p>

            <div class="burgers" id="burgers">
                <div v-for="burger in food">
                    <h3 class="burger_heading">{{ burger.name }}</h3>
                    <img v-bind:src=burger.img width="200" height="180" alt="Span">
                    <ul>
                        <li>
                            {{burger.kCal}} cKal
                        </li>
                        <li v-if="burger.gluten">
                            Contains <span class="bold">gluten</span>
                        </li>
                        <li v-if="burger.lactose">
                            Contains <span class="bold">lactose</span>
                        </li>
                    </ul>
                    <input type="checkbox" name="burgerselection" v-bind:value=burger.name> Add {{burger.name}}<br>
                </div>

                <!--<div class="burger1">
                    <h3 class="burger_heading">Classic Burger</h3>
                    <img src="./img/burger.jpg" width="200" height="180" alt="Span">
                    <ul>
                        <li>750kCal</li>
                        <li>Contains <span class="bold">lactose</span></li>
                        <li>Contains <span class="bold">gluten</span></li>
                    </ul>
                </div>
                <div class="burger2">
                    <h3 class="burger_heading">Chicken Burger</h3>
                    <img src="./img/chicken.jpg" width="200" height="180" alt="Span">
                    <ul>
                        <li>600kCal</li>
                        <li>Contains <span class="bold">gluten</span></li>
                    </ul>
                </div>
                <div class="burger3">
                    <h3 class="burger_heading">Double Burger</h3>
                    <img src="./img/double.jpg" width="200" height="180" alt="Span">
                    <ul>
                        <li>1800kCal</li>
                        <li>Contains <span class="bold">lactose</span></li>
                    </ul>
                </div>-->
            </div>
           <!-- <table>
                <thead>
                    <tr>
                        <th>Classic Burger</th>
                        <th>Chicken Burger</th>
                        <th>Double Burger</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img src="./img/burger.jpg" width="200" height="180" alt="Span">
                        </td>
                        <td>
                            <img src="./img/chicken.jpg" width="200" height="180" alt="Span">
                        </td>
                        <td>
                            <img src="./img/double.jpg" width="200" height="180" alt="Span">
                        </td>
                    </tr>
                    <tr>
                        <td>
                                <ul>
                                    <li>750kCal</li>
                                    <li>Contains <span class="bold">lactose</span></li>
                                    <li>Contains <span class="bold">gluten</span></li>
                                </ul>
                        </td>
                        <td>
                                <ul>
                                    <li>600kCal</li>
                                    <li>Contains <span class="bold">gluten</span></li>
                                </ul>
                        </td>
                        <td>
                                <ul>
                                    <li>1800kCal</li>
                                    <li>Contains <span class="bold">lactose</span></li>
                                </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            -->
        </section>
        <section id="customerinfo" class="user">
            <h2>Customer Information</h2>
            <p>This is where you provide necessary information</p>
            <h3>Delivery information</h3>
            <p>
                <label for="fullname">Full Name</label><br>
                <input type="text" id="fullname" name="fn" placeholder="First- and Last name" >
            </p>
            <p>
                <label for="email">E-mail</label><br>
                <input type="email" id="email" name="em" placeholder="E-mail address" >
            </p>
            <!--<p>
                <label for="street">Street</label><br>
                <input id="street" name="s" placeholder="Street name">
            </p>
            <p>
                <label for="house">House</label><br>
                <input type="number" id="house" name="hn" placeholder="House number">
            </p>-->
            <p>
                <label for="payment">Payment options</label><br>
                <select id="payment" name="pay">
                    <option selected>Credit card</option>
                    <option>Paypal</option>
                    <option>Visa Card</option>
                    <option>Cash</option>
                    <option>Whatever</option>
                </select>
            </p>
            <p>
                <label for="male"> Gender</label><br>
                <input type="radio" id="male" name="gender" value="Male">
                <label for="male">Male</label><br>
                <input type="radio" id="female" name="gender" value="Female">
                <label for="female">Female</label><br>
                <input type="radio" id="nonbinary" name="gender" value="Non-binary">
                <label for="nonbinary">Nonbinary</label><br>
                <input type="radio" id="undisclosed" name="gender" value="Undisclosed" checked>
                <label for="undisclosed">Undisclosed</label>
            </p>
        </section>
        <h1> Click in the map! </h1>
            <div class="view-box">
                <div id="dots" v-on:click="addOrder">
                    <div v-for="(order, key) in orders"
                         v-bind:style="{ left: order.details.x + 'px', top: order.details.y + 'px'}">
                        {{key}}
                    </div>
            </div>
        </div>
        <button id="order" v-on:click="ordering()" type="submit"><img src="./img/order.jpg" width="30" height="30" alt="Span">Order burger</button>
        <div id="orderinfo" v-if="isHidden === false">
            <h3>Your order:</h3>
            Fullname: {{userInfo.fullname}}<br>
            E-mail: {{userInfo.email}} <br>
            Gender: {{userInfo.gender}}<br>
            Payment: {{userInfo.payment}}<br>
            Burgers: {{userInfo.burgers}}<br>
        </div>
    </main>
    <hr/>
    <footer>&copy; 2019 Burger company</footer>
</body>
</html>