<!DOCTYPE html>
<html lang="en">
<head>
    <title>Your Burger</title>
    <meta charset="utf-8"/>
</head>
<body>
    <main>
        <h1>Welcome to Burger Heaven Online</h1>
        <section>
            <h2>Select burger</h2>
            <p>Here you execute the burger selection</p>
            <h3>The fire burger</h3>

            <table>
                <thead>
                    <tr>
                        <th>Fire Burger</th>
                        <th>Chicken Burger</th>
                        <th>Double Burger</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img src="\img\burger.jpg" width="200" height="200">
                        </td>
                        <td>
                            <img src="\img\chicken.jpg" width="200" height="200">
                        </td>
                        <td>
                            <img src="\img\double.jpg" width="200" height="200">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>750kCal</li>
                                <li>Contains lactose</li>
                                <li>Contains gluten</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>600kCal</li>
                                <li>Contains gluten</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>1800kCal</li>
                                <li>Contains lactose</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>

        </section>

        <section>
            <h2>Customer Information</h2>
            <p>This is where you provide necessary information</p>
        </section>


    </main>
    <hr/>
    <footer>&copy; 2019 Burger company</footer>
</body>
</html>