<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="./css/style.css">.
    <title>Your Burger</title>
    <meta charset="utf-8"/>
</head>
<body>
    <main>
        <h1>Welcome to Burger Heaven Online</h1>
        <section id="black_background">
            <h2>Select burger</h2>
            <p>Here you execute the burger selection</p>
            <table>
                <thead>
                    <tr>
                        <th>Classic Burger</th>
                        <th>Chicken Burger</th>
                        <th>Double Burger</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img src="./img/burger.jpg" width="200" height="180" alt="Span">
                        </td>
                        <td>
                            <img src="./img/chicken.jpg" width="200" height="180" alt="Span">
                        </td>
                        <td>
                            <img src="./img/double.jpg" width="200" height="180" alt="Span">
                        </td>
                    </tr>
                    <tr>
                        <td>
                                <ul>
                                    <li>750kCal</li>
                                    <li>Contains <span class="bold">lactose</span></li>
                                    <li>Contains <span class="bold">gluten</span></li>
                                </ul>
                        </td>
                        <td>
                                <ul>
                                    <li>600kCal</li>
                                    <li>Contains <span class="bold">gluten</span></li>
                                </ul>
                        </td>
                        <td>
                                <ul>
                                    <li>1800kCal</li>
                                    <li>Contains <span class="bold">lactose</span></li>
                                </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2>Customer Information</h2>
            <p>This is where you provide necessary information</p>
            <h3>Delivery information</h3>
            <p>
                <label for="fullname">Full Name</label><br>
                <input type="text" id="fullname" name="fn" placeholder="First- and Last name" >
            </p>
            <p>
                <label for="email">E-mail</label><br>
                <input type="email" id="email" name="em" placeholder="E-mail address" >
            </p>
            <p>
                <label for="street">Street</label><br>
                <input id="street" name="s" placeholder="Street name">
            </p>
            <p>
                <label for="house">House</label><br>
                <input type="number" id="house" name="hn" placeholder="House number">
            </p>
            <p>
                <label for="payment">Payment options</label><br>
                <select id="payment" name="pay">
                    <option selected>Credit card</option>
                    <option>Paypal</option>
                    <option>Visa Card</option>
                    <option>Cash</option>
                    <option>Whatever</option>
                </select>
            </p>
            <p>
                <label for="male"> Gender</label><br>
                <input type="radio" id="male" name="m">
                <label for="male">Male</label><br>
                <input type="radio" id="female" name="f">
                <label for="female">Female</label><br>
                <input type="radio" id="nonbinary" name="nb">
                <label for="nonbinary">Nonbinary</label><br>
                <input type="radio" id="undisclosed" name="udc" checked>
                <label for="undisclosed">Undisclosed</label>
            </p>
        </section>
        <button type="submit"><img src="./img/order.jpg" width="30" height="30" alt="Span">Order burger</button>
    </main>
    <hr/>
    <footer>&copy; 2019 Burger company</footer>
</body>
</html>