

body {
    font-family: "Times New Roman", sans-serif;
    font-size: 20px;
}

button:hover{
    background: yellow;
    cursor: grab;
}

button {
    margin: 0 20px 0 40px;
}

section {
    margin: 10px 20px 10px 20px;
    padding: 0 30px 0 20px;
    border: 2px dashed;
}
.burger_heading{
    text-align: left;
}
.welcome {
     margin: 0 20px 0 20px;
     height: 200px;
     overflow: hidden;
}

.burgers {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 20em 20em 20em;
    width: 100%;
}

.burger1 {
    grid-column: 1;
}
.burger2 {
    grid-column: 2;
}
.burger3 {
    grid-column: 3;
}

.bold {
    font-weight: bold;
}

#black_background {
    background: black;
    color: white;
}
#h1 {
    position: absolute;
    padding: 50px 400px 50px 400px;
}
#bar {
    width: 100%;
    height: auto;
    opacity: 40%;
}

/*table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
*/